@charset "utf-8";
@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1451401679_8319771.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1451401679_8319771.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1451401679_8319771.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1451401679_8319771.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1451401679_8319771.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon_font{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
}
