/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
   /* background-color: #333;*/
}
body {

    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);

}
.index_wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/bg2.jpg")  center;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}



@media (min-width: 768px) {
    .logo{
        width: 60px;
    }
    .slogan span:nth-child(1){

        font-size: 30px;
        font-family: "KaiTi","Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", u9ed1u4f53, Arial, sans-serif;
        letter-spacing: 10px;
    }
    .slogan1 span:nth-child(1) {
        font-size: 9px;
        font-family: "KaiTi", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", u9ed1u4f53, Arial, sans-serif;
        letter-spacing: 2px;
        position: relative;
        top: -8px;
        left: -5px;
        color: wheat;
    }
    .col{
        position: relative;
        top: -33px;
        left: 60px;

    }
}

@media screen and (max-width: 768px) {
    .logo{
        width: 32px;
    }
    .col{
        display: none;
    }
}



/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.text-indent{
    text-indent: 40px;
    text-align: left;
    line-height: 32px;
}
#modal-dialog{
    top: 10em;
}
#modal-content{
    background: black;
    opacity: 0.8;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", u9ed1u4f53, Arial, sans-serif;
    letter-spacing: 8px;
}
/*.logoCus{
    position: absolute;
    left: 15%;
    top: 20%;
}*/

.footer{
    position: fixed;
    bottom: 5%;
    left: 45%;

}
.qqContact{
    position: fixed;
    top: 20%;
    right: 0;
}
.calc_wrapper{
    background:#f3f3f3;
    opacity: 0.8;
    display: inline-block;
    border-radius: 9px;
    color: #454545;
    position: fixed;
    top: 45%;
    left: 5%;
    padding:20px 45px;
}
#money{
    color: #333;
    display: inline-block;
}
.clr{
    text-align: left;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", u9ed1u4f53, Arial, sans-serif;
}
#modal-header{
    padding: 0;
}
#modal_close{
    position: absolute;
    right: 10px;
    top: 2px;
}
.panel-body{
    color: #333;
}
.pageColor {
    color: #333;
}
#long_time,#consume{
    color: orangered;
    font-family: "KaiTi", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", u9ed1u4f53, Arial, sans-serif;
}
.panel-heading{
    text-align: left;
}
.panel-body{
    text-align: left;
    text-indent: 40px;
}
.tips_hh{
    position: absolute;
    right: 5%;
}
.content_hh{
    position: relative;
    color: red;
    background: wheat;
    opacity: 1;
    width: 100%;
    padding: 1px 6px;
    font-family: "KaiTi", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", u9ed1u4f53, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    border-radius: 5px;
}
